@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }


img.hover-animation:hover {
  transform: scale(1.04);
  transition: width,height,transform .3s ease;
}

@media screen and (max-width: 767px) {
  .flex-grid {
    flex: 0 1 calc(100%);
  }
}
@media screen and (min-width: 768px) {
  .flex-grid {
    flex: 0 1 calc(100% / 3); /* <-- adjusting for margin */
  }
}
@media screen and (min-width: 1024px) {
  .flex-grid {
    flex: 0 1 calc(25%); /* <-- adjusting for margin */
  }
}

.search-box {
  border: none;
  transition: width 1s ease;
}

.search-field {
  width: 0
}

.search-box:hover {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209 213 219);
}

.search-box:hover > .search-field {
  width:auto
}

.search-box:has(.search-field:focus) {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209 213 219);
}

.search-field:focus {
  width: auto
}

.post-card:hover .image-box {
  transform: scale(1.2) rotate(2deg);
}

.image-box {
  object-fit: cover;
  transition: width,height,transform .7s ease;
  will-change: width,height,transform;
}


ul.sidebar-menu li {
  margin-top: 1rem
}
ul.sidebar-menu li:hover {
  text-decoration: underline;
}